{{ range .Site.Params.experience.list }}
<h4 style="text-decoration: underline;">{{ .position }}</h4>
<div class="experience-item flex justify-between items-center">
  <div>
    <p {{ if .details }}class="mb-0" {{ end }}>
      {{ .dates | markdownify }} &middot; {{ if .url }} <a
        href="{{ .url }}"><strong>{{ .company }}</strong></a>{{ else }}<strong>{{ .company }}</strong>{{ end }}
    </p>
  </div>

  <div class="mx-2">
    {{ if .urls }}
    <ul class="flex flex-col space-y-4">
      {{ range .urls }}
      <li><a href="{{ .url }}" target="_blank"><i class="{{ .url_icon }}"></i> <em>{{ .title }}</em></a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</div>
{{ if .details }}
<div class="prose prose-stone dark:prose-invert max-w-none">
  {{ .details | markdownify }}
</div>
{{ end }}
{{ end }}
